    body {
        background-color: #1E2A44;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
        main {
            margin: auto;
            padding: 10px;
            background-color: #4b6aad65;
            font-family: "Orbitron", sans-serif;
            font-weight: 100;
            font-optical-sizing: auto;
            border-color: black;
            border-style: solid;
            border-width: 5px;
            border-radius: 35px;
            font-size: 1.5vw;
            line-height: 3vw;
            width: 80%;
            max-width: 900px;
        }
        header{
            border: black solid 5px;
            padding: 10px;
            background-color: #283b64;
        }
    img{
        display: block;
        margin: auto;
        height: 100%;
        width: 100%;
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-width: 3px;
    }
    li {
        text-align: left;
        font-size: medium;
        color: #edededce;
    }
    h1 {
        color: #C89B3C;
        text-align: center;
    }
    h2 {
        color: #C89B3C;
    }
    p {
        color: #EDEDED;
    }
    h3 {
        color: #EDEDED;
    }
    h4 {
        color: #EDEDED;
    }
    a:hover{
        background-color: #ff00004d;
        transition-duration: 0.5s;
        color: rgba(0, 238, 255, 0.76);
        text-decoration: underline;
    }
    a:active{
        color: rgba(177, 14, 14, 0.589);
    }
    a {
        color: #2a4bd7;
        text-decoration: underline;
    }
    iframe{
        display: block;
        margin: auto;
        width: 100%;
        border-color: rgb(255, 255, 255);
        border-width: 3px;
        gap: 10px;
        justify-content: center;
        border-style: double;
    }
    nav > a{
        flex-wrap: wrap;
        text-decoration: none;
    }
    nav > a:hover{
        text-decoration: underline;
        color: aquamarine;
    }
    nav{
        background-color:#0e1011a8;
        border: 1px solid rgba(255, 255, 255, 0.527);
        margin: auto;
        padding: 5px;
    }
    article{
        border: 3px solid black;
        margin: 5px;
        padding: 9px;
    }
    footer{
        text-align: center;
    }
    #img1{
        height: 400px;
        width: 100%;
        background:url(imagens/lol.jpg)center center no-repeat fixed;
        background-size: cover;
    }
    a{
        text-decoration: none;
    }
    header>h1{
        font-variant: small-caps;
        font-size: 3vw;
    }
    #img2{
        background: url(imagens/campeõs.jgp.jpg) center center no-repeat fixed;
        background-size: cover;
        height: 400px;
        width: 100%;
    }