    body {
        background-color: #1E2A44;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 16px;}
        main {
            width: 500px;
            margin: auto;
            padding: 10px;
            background-color: #4b6aad21;
            text-align: center;
            font-family: "Orbitron", sans-serif;
            font-weight: 100;
            font-optical-sizing: auto;
            box-shadow: #c89c3c9a 4px 5px 5px 6px;
            border-color: black;
            border-style: solid;
            border-width: 5px;
        }
    img {
        display: block;
        margin: auto;
        width: 500px;
    }
    li {
        text-align: left;
        font-size: medium;
        color: #edededce;
    }
    h1 {
        color: #C89B3C;
        text-align: center;
    }
    h2 {
        color: #C89B3C;
        border-style: solid;
        border-width: 2px;
        border-color: black;
    }
    p {
        color: #EDEDED;
    }
    h3 {
        color: #EDEDED;
    }
    h4 {
        color: #EDEDED;
    }
    a:hover{
        color: rgb(0, 238, 255);
    }
    a:active{
        color: rgba(177, 14, 14, 0.589);
    }
    a {
        color: #2a4bd7;
        text-decoration: underline;
    }
    iframe {
        display: block;
        margin: 0 auto;
        width: 500px;
        box-shadow: #dbab4485 5px 5px 5px 6px;
    }
